@include tablet {
  .sale{
    &-inner{
      flex-direction: column;
      gap: 0;

      img{
        width: 628px;
        height: 640px;
        align-self: center;
      }
    }
    &-content{
      margin-top: 0;
    }
  }
}
@include mobile {
  .sale{

    img{
      width: 356px;
      height: 363px;
    }

    form{
      input{
        font: $default-font-text-mobile;
      }

      button{
        @include padding-button(10px,24px);
        &:hover{
          padding: 8px 24px 12px 24px;
        }
        &:active{
          @include padding-button(10px,24px);
        }
      }
    }

  }
}