.sale{
  background: $main-white;

  &-inner{
    display: flex;
    gap: 24px;
  }
  &-content{
    margin-top: 120px;
  }
  h2{
    margin-bottom: 40px;
  }

  form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    width: 25.8rem;
    height: 3.5rem;
    background: $background;
    padding: 1.1rem 0.4rem 1.1rem 0.8rem;
    margin-bottom: 16px;

    input{
      background: transparent;
      font: $default-font-text;
      align-items: center;
    }

    button{
      @extend .white-button;
      @include padding-button(12px,24px);
      &:hover{
        padding: 10px 24px 14px 24px;
      }
      &:active{
        @include padding-button(12px,24px);
      }
    }
  }
  &-warning{
    margin:0 0 126px 8px;
    width: 19.67rem;
    font: $description-font-text;
    color: $dark-grey;

    a{
      color: $hover-blue;
    }
  }
}