.greeting{
  overflow: hidden;
  width: 100%;
  background:
  url("../../../../images/gradients/content-white.svg") top -115px left 50px no-repeat,
  url("../../../../images/gradients/content-spots.svg") top 450px left -250px no-repeat,
  url("../../../../images/gradients/content-circles.svg") top 60px right 32px no-repeat;

  &-img{
    width: 646px;
    height: 502px;
  }
  &-background{
    min-height: 100%;
    width: 100%;
    backdrop-filter: blur(240px);
  }
  &-inner{
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
  }
  &-content{
    margin-top: 2.2rem;
  }
  h2{
    margin-bottom: 2.2rem;
  }
  form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    max-width: 25.8rem;
    background: rgba(255, 255, 255, 0.5);
    padding: 8px 8px 8px 16px;
    margin-bottom: 16px;

    input{
      background: transparent;
      font: $default-font-text;
      align-items: center;
    }

    button{
      @extend .white-button;
      @include padding-button(12px,24px);
      &:hover{
        padding: 10px 24px 14px 24px;
      }
      &:active{
        @include padding-button(12px,24px);
      }
    }
  }
  &-warning{
    margin:0 0 126px 8px;
    max-width: 19.67rem;
    font: $description-font-text;
    color: $dark-grey;

    a{
      color: $hover-blue;
    }
  }
  &-wheeldown{
    display: flex;
    gap: 8px;
    align-items: center;
    font: $table-text;
    color: $main-white;
  }
}
