$default-font: "Visuelt Pro";
$content-width: 1250px;
$color-blue: #4754eb;
$color-purple: #8633b0;
$color-pink: #eb478b;
$color-yellow: #ffdf80;
$color-orange: #f47b25;
$background: #f2f2f2;
$main-white: #fff;
$main-black: #1a1a1a;
$main-grey: #808080;
$dark-grey: #505050;
$main-lt: #d9d9d9;
$hover-blue: #505dec;
$inactive-blue: #3c49dd;

$font-h2: 500 3.111rem / 125% $default-font;
$font-h3: 500 2rem / 112% $default-font;
$font-h4: 500 1.333rem / 100% $default-font;
$default-font-text: 400 1rem / 135% $default-font;
$default-font-medium: 500 1rem / 135% $default-font;
$description-font-text: 400 12px / 135% $default-font;