.header{
  width: 100%;
  background: $main-white;
  border-radius: 24px 24px 0 0;
  //position: sticky;
  //top: 5px;

  &-inner{
    @include flex(space-between,center);
    padding: 16px 0;
  }
  &-menu{
    display: flex;
    gap: 5.333rem;
  }
  &-nav{
    display: flex;
    font: $default-font-text;
    align-items: center;
    gap: 1.333rem;
    color: $main-grey;
    transition: all 0.9s ease-in-out;

    a:hover{
      color: $dark-grey;
    }
  }
  &-help{
    display: flex;
    gap: 0.889rem;
    @include flex(center,center);

    p{
      text-align: center;
      color: $main-grey;
      font: $default-font-text;
      span{
        font: $default-font-medium;
        color: $color-blue;
      }
    }
    a{
      @extend .blue-button;
      @include padding-button(12px,24px);
      &:hover{
        padding: 10px 24px 14px 24px;
      }
      &:active{
        @include padding-button(12px,24px);
      }
    }
  }
}